<div class="float-end">
  <br>
    <img src="/images/вход.png" alt="" class="img-fluid mt-5" width="300" height="300">
</div>

<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Бонусы<br>за активность</h1>
  <h1 class="h4 mb-1 fw-normal">Проходите тесты, пишите статьи<br>и получайте бонусы!</h1>
  <br>
  <a class="link-secondary btn custom_color" href="http://localhost:3000/about">Назад</a>
  <a class="link-secondary btn custom_color" href="http://localhost:3000/bonusespopular">Далее</a>
  <br>
  <img src="/images/cards.png" alt="" class="img-fluid mt-5 me-20" width="500" height="500">
</div>
