<div class="float-end">
  <img src="/images/partnersfigures.png" alt="" class="img-fluid mb-5" width="330" height="330">
</div>
<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Товары партнеров<br>за бонусы</h1>
  <h1 class="h4 mb-1 fw-normal">Меняйте накопленные бонусы<br>на товары наших партнеров</h1>
  <br>
  <a class="link-secondary btn custom_color" href="http://localhost:3000/bonusespopular">Назад</a>
  <a class="link-secondary btn custom_color" href="http://localhost:3000/bonuseshistory">Далее</a>
  <br>
  <br>
  <img src="/images/partners.png" alt="" class="img-fluid me-20 mt-5" width="500" height="500">
</div>
