div class="mx-auto w-50">
<h1 class="h2 mb-3 fw-bold">С возвращением!</h1>
<h1 class="h4 mb-1 fw-normal">Займемся обучением?</h1>
<br>
<a class="link-secondary btn custom_color" href="http://localhost:3000/posts">Перейти к обучению</a>
</div>

<br>

<div class="text-end">
  <img src="/images/свозвращением.png" alt="" class="img-fluid me-20" width="450" height="450">
</div>