<div class="custom_color_bg">
<h1 class="fw-bold text-white">Займись благотворительностью<br>вместе с ФЁРСТДОГ</h1>

<div class="row g-5 py-5">
  <div class="col-md-4">

  </div>

  <div class="col-md-8">
    <img src="/images/Group 703.png" alt="" class="img-fluid mb-5 d-block mx-auto" width="650" height="650">
  </div>

</div>
</div>

<div class="custom_color_bg2">
<h1 class="fw-bold text-white">С помощью ФЁРСТДОГ</h1>

<div class="row g-5 py-5">
  <div class="col-md-4">

    <div class="feature mb-5">
      <h2 class="fw-bolder text-white">Нашли свой дом</h2>
      <h2 class="fw-bolder text-white">Являются нашими<br>проверенными партнерами</h2>
      <h2 class="fw-bolder text-white">Собрано с помощью<br>медиа сервиса</h2>
      <h2 class="fw-bolder text-white">В поддержку приютов<br>проведено за 2020 год</h2>
      <h2 class="fw-bolder text-white">В приюты было организовано<br>за 2020 год</h2>
      <img src="/images/Group 861.png" alt="" class="img-fluid mb-5 d-block mx-auto" width="350" height="350">
    </div>

  </div>

  <div class="col-md-8">
    <img src="/images/Group 704.png" alt="" class="img-fluid d-block mx-auto" width="350" height="250">
  </div>

</div>
</div>

<div class="custom_color_bg3">
<h1 class="fw-bold text-white">Фонды и организации</h1>
<h2 class="fw-bold text-white">Каждая организация является<br>нашим проверенным партнером</h2>

<div class="row g-5 py-5">
  <div class="col-md-4">

    <div class="feature mb-5">
      <img src="/images/Mask Group.png" alt="" class="img-fluid d-block mx-auto" width="350" height="250">
      <h5 class="text-white">Благотворительный фонд помощи животным<br>«Я свободен» активно помогает бездомным<br>животным, животным, попавшим в непростую<br>ситуацию и людям, которым небезразлична их судьба.</h5>
      <button type="button" class="w-10 btn color_tags d-block mb-2">Перейти</button>
    </div>

    <div class="feature mb-5">
      <img src="/images/Mask Group2.png" alt="" class="img-fluid d-block mx-auto" width="350" height="250">
      <h5 class="text-white">Мы - Международный благотворительный фонд<br>помощи животным «Дарящие надежду» - объединение<br>людей, верящих, что мы в силах помочь братьям<br>нашим меньшим.</h5>
      <button type="button" class="w-10 btn color_tags d-block mb-2">Перейти</button>
    </div>

  </div>

  <div class="col-md-8">
    <img src="/images/Vector 217.png" alt="" class="img-fluid d-block mx-auto" width="350" height="250">
  </div>

</div>
</div>
