<div class="container py-5">
  <h1 class="fw-bold">Займись благотворительностью<br>вместе с ФЁРСТДОГ</h1>

  <div class="row g-5 py-5">
    <div class="col-md-4">

      <div class="feature mb-5">
        <h2 class="fw-bolder">Я свободен</h2>
        <p>Благотворительный фонд помощи животным «Я свободен» активно помогает бездомным животным, животным, попавшим в
          непростую ситуацию и людям, которым небезразлична их судьба.</p>
        <button type="button" class="w-10 btn rounded-pill color_tags d-block mb-2">Бездомные животные</button>
        <button type="button" class="w-10 btn rounded-pill color_tags d-block mb-2">Люди</button>
      </div>

      <div class="feature mb-5">
        <h2 class="fw-bolder">Рэй</h2>
        <p>Основная цель деятельности фонда – помочь бездомным животным, а также приютам, в которых они
          содержатся. </p>
        <button type="button" class="w-10 btn rounded-pill color_tags d-block mb-2">Кошки</button>
        <button type="button" class="w-10 btn rounded-pill color_tags d-block mb-2">Собаки</button>
      </div>

      <div class="feature mb-5">
        <h2 class="fw-bolder">Я свободен</h2>
        <p>Благотворительный фонд помощи животным «Я свободен» активно помогает бездомным животным, животным,
          попавшим в непростую ситуацию и людям, которым небезразлична их судьба.</p>
        <button type="button" class="w-10 btn rounded-pill color_tags d-block mb-2">Бездомные животные</button>
        <button type="button" class="w-10 btn rounded-pill color_tags d-block mb-2">Люди</button>
      </div>

    </div>

    <div class="col-md-8">
      <img src="/images/Group1.png" alt="" class="img-fluid mb-5 d-block mx-auto" width="350" height="350">
      <img src="/images/Group2.png" alt="" class="img-fluid d-block mx-auto" width="450" height="350">
    </div>

  </div>
</div>
