
<h1>Привет! 💖</h1>
<div class="txt"><p>Используя <b>PetApp</b>, можно узнать много нового о домашних животных.</p></div>
<div class="block"></div>
<div class="button1"><%= link_to "О нас", about_path %></div>
<div class="button2"><%= link_to "Посты", posts_path %></div>
<div class="heart"></div>
<div class="heart2"></div>
<div class="heart3"></div>
