<div class="text-center">

<h1 class="h2 mb-3 fw-normal">Спасибо за регистрацию!</h1>
<h1 class="h4 mb-3 fw-normal">Теперь вы можете получать бонусы за активность
и сохранять полезные статьи!</h1>

  <img src="/images/thankuforregistration.png" alt="" class="img-fluid me-20 d-block mx-auto" width="400" height="400">

</div>
