<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Спасибо за регистрацию!</h1>
  <h1 class="h4 mb-1 fw-normal">Теперь вы можете получать бонусы за активность и сохранять полезные статьи!</h1>
</div>

<div class="text-end">
  <img src="/images/thankuforregistration.png" alt="" class="img-fluid me-20" width="400" height="400">

</div>
