<div class="mx-auto w-50"></h1>
  <h1 class="h2 mb-3 fw-bold">История<br>бонусов</h1>
  <h1 class="h4 mb-1 fw-normal">Следите за начислением<br>и списанием бонусов<br>в разделе «Баланс»</h1>
  <br>
  <%= link_to 'Назад', bonuses_partners_path, class: "link-secondary btn custom_color" %>
  <%= link_to 'Главная', bonuses_path, class: "link-secondary btn custom_color" %>
</div>
