<div class="float-end">
  <%= image_tag "signin.png", size: "300x300", class: "img-fluid mt-5" %>
</div>

<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Бонусы<br>за активность</h1>
  <h1 class="h4 mb-1 fw-normal">Проходите тесты, пишите статьи<br>и получайте бонусы!</h1>
  <br>
  <%= link_to 'Назад', :back, class: "link-secondary btn custom_color" %>
  <%= link_to 'Далее', bonuses_popular_path, class: "link-secondary btn custom_color" %>
  <br>
  <%= image_tag "cards.png", size: "500x500", class: "img-fluid mt-5 me-20" %>
</div>
