<div class="float-end">
  <%= image_tag "partnersfigures.png", size: "330x330", class: "img-fluid mb-5" %>
</div>
<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Товары партнеров<br>за бонусы</h1>
  <h1 class="h4 mb-1 fw-normal">Меняйте накопленные бонусы<br>на товары наших партнеров</h1>
  <br>
  <%= link_to 'Назад', :back, class: "link-secondary btn custom_color" %>
  <%= link_to 'Далее', bonuses_history_path, class: "link-secondary btn custom_color" %>
  <br>
  <br>
  <%= image_tag "partners.png", size: "500x500", class: "img-fluid me-20 mt-5" %>
</div>
