<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Больше бонусов<br>за популярность</h1>
  <h1 class="h4 mb-1 fw-normal">Чем больше ваша статья<br>наберет сохранений, тем<br>больше вы получите бонусов!<br>Одно сохранение = один бонус</h1>
  <br>
  <%= link_to 'Назад', bonuses_info_path, class: "link-secondary btn custom_color" %>
  <%= link_to 'Далее', bonuses_partners_path, class: "link-secondary btn custom_color" %>
</div>

<div class="text-end">
  <%= image_tag "bonusespopular.png", size: "600x600", class: "img-fluid me-20" %>
</div>
