<main class="form-signin">
<div class="text-center">
<h1 class="h3 mb-3 fw-normal">Новый пост</h1>

<%= render 'form', post: @post %>


<%= link_to 'Вернуться', posts_path, class: "w-100 btn btn-lg btn-primary rounded-pill custom_color" %>
</div>
</main>
