<% if notice %>
  <%= notice %>
<% end %>
<div class="telo">
<h1>О проекте</h1>
<div class="txt2"><p>Здесь можно подписаться на <b>рассылку</b>!</p></div>
<h2>Узнать раньше всех о запуске проекта:</h2></div>
<div class="block"></div>
<%= render "subscribers/form" %>
<div class="button4"><%= link_to "Блог", posts_path %></div>
