<img src="/images/Group1.png" alt="" width="350" height="350">
<img src="/images/Group2.png" alt="" width="450" height="350">
<div class="text-center">
<h1 class="h3 mb-3 fw-normal">Займись благотворительностью<br> вместе с ФЁРСТДОГ</h1>
</div>
<div class="container py-5" id="featured-3">
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <h2>Я свободен</h2>
      <p>Благотворительный фонд помощи животным «Я свободен» активно помогает бездомным животным, животным, попавшим в непростую ситуацию и людям, которым небезразлична их судьба.</p>
      <button type="button" class="w-10 btn rounded-pill color_tags">Бездомные животные</button><br>
      <button type="button" class="w-10 btn rounded-pill color_tags">Люди</button>
    </div>



<div class="container py-5" id="featured-3">
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <h2>Рэй</h2>
      <p>Основная цель деятельности фонда – помочь бездомным животным, а также приютам, в которых они содержатся. </p>
      <button type="button" class="w-10 btn rounded-pill color_tags">Кошки</button><br>
      <button type="button" class="w-10 btn rounded-pill color_tags">Собаки</button>
    </div>


<div class="container py-5" id="featured-3">
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <h2>Я свободен</h2>
      <p>Благотворительный фонд помощи животным «Я свободен» активно помогает бездомным животным, животным, попавшим в непростую ситуацию и людям, которым небезразлична их судьба.</p>
      <button type="button" class="w-10 btn rounded-pill color_tags">Бездомные животные</button><br>
      <button type="button" class="w-10 btn rounded-pill color_tags">Люди</button>
    </div>

  </div>
</div>
