body {
  background: white !important;
  height: 100vh;
}

.dark-bg {
  background: #0B0324 !important;
}

.light-bg {
  background: #90C0E9 !important;
}

.charity-point h1 {
  display: inline-block;
}

.charity-point h4 {
  font-size: 15px;
}

.charity-point h1:first-child {
  width: 200px;
}

.card {
  border-color: transparent;
}

.card-body img,
.card-body h6 {
  display: inline-block;
  vertical-align: top;
}

.card-body h6 {
  padding-top: 15px;
  padding-left: 10px;
}

.card-body button {
  margin-top: 10px;
}

.textcolor {
  color: #0B0324;
}
