body {
  background: white !important;
  height: 100vh;
}

.custom_color_bg2 {
  background: #0B0324 !important;
}

.custom_color_bg4 {
  background: #90C0E9 !important;
}

.textcolor {
  color: #0B0324;
}
