div.button3 {
  position: absolute;
  display: flex;
  background-color: #FF0084;
  top: 74%;
  left: 35%;
  width: 30%;
  height: 15%;
  justify-content: center;
  align-items: center;
  z-index: -5;
  border-radius: 20px;
  font-size: 13px;
  line-height: 18px;
  color: #fff; }

div.button3:hover {
  opacity: 70%; }

div.content2 {
  margin-top: 6%; }

div.poststitle {
  margin-top: 0%; }

div.block5 {
  position: absolute;
  background-color: #FFE5F3;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 113%;
  text-align: center;
  z-index: -5;
  border-radius: 20px; }

  div.posts22 {
    margin-left: -4%; }

  div.block7 {
    position: absolute;
    background-color: #FFE5F3;
    top: -50%;
    left: -10%;
    width: 120%;
    height: 190%;
    text-align: center;
    z-index: -5;
    border-radius: 20px; }

  div.block9 {
    position: absolute;
    display: flex;
    background-color: #FF0084;
    top: 118%;
    left: 19%;
    width: 30%;
    height: 15%;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #fff; }

  div.block10 {
    position: absolute;
    display: flex;
    background-color: #FF0084;
    top: 118%;
    left: 52%;
    width: 30%;
    height: 15%;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-radius: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #fff; }

  div.button8 {
    position: absolute;
    display: flex;
    background-color: #FF0084;
    top: 110%;
    left: 35%;
    width: 30%;
    height: 15%;
    justify-content: center;
    align-items: center;
    z-index: -5;
    border-radius: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #fff; }

  div.button8:hover {
    opacity: 70%; }

  div.block9:hover {
    opacity: 70%; }

  div.block10:hover {
    opacity: 70%; }

  div.decorate {
    position: absolute;
    background-color: #FF0084;
    top: 37%;
    left: -3%;
    width: 107%;
    height: 25%;
    opacity: 35%;
    text-align: center;
    z-index: -3; }
