  div.block4 {
    position: absolute;
    background-color: #FFB1DA;
    top: -25%;
    left: -5%;
    width: 110%;
    height: 190%;
    opacity: 12%;
    text-align: center;
    z-index: -5;
    border-radius: 20px; }

  div.telo3 {
    margin-top: -5%; }
