div.block4 {
  position: absolute;
  background-color: #FFE5F3;
  top: -25%;
  left: -5%;
  width: 110%;
  height: 175%;
  text-align: center;
  z-index: -5;
  border-radius: 20px; }

div.content3 {
  margin-top: -5%; }
