form.button_to {
  display: initial;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-image h1,
.jumbotron-image h2,
.jumbotron-image h3,
.jumbotron-image h4,
.jumbotron-image p,
.jumbotron-image a,
.jumbotron-image span {
  text-shadow: #0000006e 0.1em 0.1em 0.1em;
  color: white;
  text-decoration: none;
}

.promo-content a {
  text-decoration: none;
}

.promo-content a:hover {
  color: #0b0324;
}

.promo-content p {
  font-size: 15px;
  line-height: 25px;
}

.tags span {
  color: black;
  background-color: #ffffffa8;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 0 2px;
}