@import "bootstrap";

@font-face {
  font-family: Aeroport;
  src: url(asset-path("Aeroport_Light.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Bold.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Medium.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Regular.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Mono.otf")) format("opentype");
}

body {
  background-color: #fff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: 'Aeroport', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-family: 'Aeroport', sans-serif;
  color: #000;
}

a:hover {
  color: #84b3db;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

div.actions {
  margin-top: 10px;
  text-align: center;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom_color {
  border: 0;
  color: white;
  background-color: #0B0324;
}

.custom_color i {
  color: white;
}

.custom_color:hover {
  color: #FFFFFF;
  background-color: #84b3db;
}

.custom_color-outline {
  border: 1px solid #0B0324;
  color: white;
  background-color: #0B0324;
}

.border_color {
  border-color: #0B0324;
}

.color_footer {
  background-color: #0B0324;
  color: white;
}

.color_tags {
  background-color: #84B3DB;
}

