$font-stack:    Roboto, sans-serif;

body {
  position: absolute;
  background-color: #fff;
  color: #333;
  margin: 33px;
  font: 100% $font-stack;
  font-size: 13px;
  line-height: 18px;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  text-align: center;
  margin: -10% 0 0 -15%;
  cursor: default;
  z-index: 50; }

  p {
    text-align: center;
    background-color: none; }

  ol {
    text-align: center; }

  ul {
    text-align: center; }

  td {
    text-align: center; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div.block {
  position: absolute;
  background-color: #FFB1DA;
  top: -10%;
  left: -5%;
  width: 110%;
  height: 100%;
  opacity: 12%;
  text-align: center;
  z-index: -5;
  border-radius: 20px; }

a {
  color: #666;
  text-decoration: none; }

a:visited {
  color: #666; }

a:hover {
  color: #fff; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
