div.txt2 {
  width: 50%;
  margin: 0 0 0 25%;
  text-align: center;
  font-size: 16px;
  line-height: 18px; }

div.content {
  margin-top: -9%; }

div.button4 {
  position: absolute;
  display: flex;
  background-color: #FF0084;
  top: 80%;
  left: 35%;
  width: 30%;
  height: 15%;
  justify-content: center;
  align-items: center;
  z-index: -5;
  border-radius: 20px;
  font-size: 13px;
  line-height: 18px;
  color: #fff; }

div.button4:hover {
  opacity: 70%; }

div.block6 {
  position: absolute;
  background-color: #FFE5F3;
  top: -10%;
  left: -5%;
  width: 110%;
  height: 122%;
  text-align: center;
  z-index: -5;
  border-radius: 20px; }
