@import "bootstrap";

@font-face {
  font-family: Aeroport;
  src: url(asset-path("Aeroport_Light.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Bold.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Medium.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Regular.otf")) format("opentype");
}

@font-face {
  font-family: Aeroport;
  font-weight: bold;
  src: url(asset-path("Aeroport_Mono.otf")) format("opentype");
}

.card {
    width: 500px;
    border: none;
    border-radius: 10px;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}
