<main class="form-signin">
<div class="text-center">
<h1 class="h3 mb-3 fw-normal">Редактировать категорию</h1>

<%= render 'form', category: @category %>

<%= link_to 'Показать', @category %> |
<%= link_to 'Вернуться', categories_path %>
</div>
</main>
