<% set_meta_tags title: 'Спасибо за регистрацию', description: 'Спасибо за регистрацию' %>
<% set_meta_tags og: {
  title: ['Спасибо за регистрацию']
} %>

<div class="mx-auto w-50">
  <h1 class="h2 mb-3 fw-bold">Спасибо за регистрацию!</h1>
  <h1 class="h4 mb-1 fw-normal">Теперь вы можете получать бонусы за активность и сохранять полезные статьи!<br>
Начнём?</h1>
  <br>
  <%= link_to 'Перейти к обучению', posts_path, class: "link-secondary btn custom_color" %>
</div>

<br>

<div class="text-end">
  <%= image_tag "thankuforregistration.png", size: "450x450", class: "img-fluid me-20" %>
</div>
